<div flex layout="column">
	<button mat-raised-button color="primary">Primary</button>
  <button mat-raised-button color="A400">Primary</button>
</div>

<mat-card>  <h1>H1 headline</h1>
  <h2>H2 title</h2>
  <h3>H3 subheading</h3>
  <h4>H4 subheading 2</h4>
  <h5>H5 lead</h5>
</mat-card>
 <mat-card> <h6>H6 dropcap</h6>
  <p class="mat-body-1">body 1 paragraph</p>
  <p class="mat-body-2">body 2 paragraph</p>
</mat-card>
 <mat-card>
  <th>TH table header</th>
  <caption class="mat-caption">caption</caption>
</mat-card>


<router-outlet></router-outlet>